.h2-titulo {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h3 {
  color: #a0a0ff; 
}
.app-container {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}
.main-content {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  
  @media (min-width: 768px) {
    flex-direction: row; 
  }
   @media (min-width: 768px) {
    flex: 3; 
  }
}

/*Estilos para el header y sus componentes*/
.header {
  position: relative; 
  height: 250px;
  border-radius: 8px;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #333;
  background: url('../public/4845746.jpg') no-repeat center/cover;
  .header-texto {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(252, 252, 252);
    h1 {
      color: rgb(15, 15, 15); 
      font-size: 2.5em; 
    }
  }
}

/*Estilos de la barra de navegación*/
.navbar-simple {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre icono y texto */
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s;
      &:hover {
          background-color: #535bf2;
          color: white;
      }

    /* Norma rexponsive que oculta el texto en pantallas pequeñas */
    span {
      @media (max-width: 600px) {
        display: none; 
      }
    }
}
}

/*Estilos para el aside y sus componentes*/
.barra-lateral-simple {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  @media (min-width: 768px) {
    flex: 1; 
    margin-top: 50px; 
  }
  .video-container {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9; 
      border-radius: 5px;
    }
  }

  .selector-heroes {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #444;
    h3 {
      margin-top: 0;
      border-bottom: 2px solid #535bf2;
      padding-bottom: 5px;
      color: #a0a0ff; 
    }
    h4 {
      font-size: 1.1em;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #555;
      background-color: #f4f4f4;
      color: #213547;
      font-size: 1em;
      margin-bottom: 10px
    }
  }
  .heroes-seleccionados {
    background-color: #202020;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
    color: #ccc;
  }
}

/*Estilos para el footer*/
.footer-simple {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  color: #aaa;
  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    a {
      font-size: 1.8em;
      color: #aaa;
    }
  }
}