// Paleta de Colores Generales
$color-background: gray;
$color-letra: black;

// Paleta de colores menú
$navbar-bg-color: orange;
$navbar-color-hover: white;

// Colores del borde de la imagen
$border-color: $color-letra;
$border-style:"solid";
$border-width: 0.1rem;
$border-radius: 1rem;

$main-container-width: 80%;

$figure-width:30%;

.main{
    width: $main-container-width;
    margin: 0px auto;
}

// Estructura de anidamiento del menú
nav{
    background-color: $navbar-bg-color;
    padding: 0.2rem;
    ul{
        li{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;

            &:active{
                color: $navbar-color-hover;
                font-weight: bolder;
            }

            &:hover{
                color: $navbar-color-hover;
            }

            a{
                text-decoration: none;
            }
        }
    }
}

figure.card {
    border: $border-width #{$border-style} $border-color;
    border-radius: $border-radius;
    display: inline-block;
    padding: 1rem;
    width: $figure-width;
    img{
        border-radius: 2*$border-radius;
        width: 100%;
    }

    figcaption{ 
        font-size: 0.8rem;
        margin: 0.5rem;
        text-align: center;
    }
}